{% extends 'base.html.twig' %}

{% block title %}Operations{% endblock %}

{% block body %}
<div class="container-fluid list">
    <h1>Operations List</h1>

    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Id</th>
                <th>Reception Date</th>
                <th>Show</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for operation in operations %}
            <tr>
                <td>{{ operation.id }}</td>
                <td>{{ operation.receptionDate ? operation.receptionDate|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a class="btn show" href="{{ path('operation_show', {'id': operation.id}) }}"><i class="bi bi-info-square"></i></a>
                   </td>
                   <td>
                   {% if is_granted("ROLE_MANAGER") %}
                   <div>
                         <a class="btn edit" href="{{ path('operation_edit', {'id': operation.id}) }}"><i class="bi bi-pencil"></i></a>
                   </div>
                    {{ include('operation/_delete_form.html.twig') }}
                   {% else %}
                       <span col="2">Unauthorized access</span>
                   {% endif %}
                  
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">No records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn create" href="{{ path('operation_new') }}">Create new</a>
    </div>
{% endblock %}
