{% extends 'base.html.twig' %}

{% block title %}Recycling{% endblock %}

{% block body %}
<div class="container-fluid list">
    <h1>Recycling</h1>
{{dump()}}
    <table class="table table-bordered">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ recycling.id }}</td>
            </tr>
            <tr>
                <th>Recycling Date</th>
                <td>{{ recycling.recyclingDate ? recycling.recyclingDate|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
            <th>Source</th>
            <td>{{recycling.operation.bike.source.origin}}</td>
            </tr>
            <tr>
            <th>Bike</th>
            <td>{{recycling.operation.bike.serialNumber}}</td>
            </tr>
            <tr>
            <th>Actions</th>
            <td>
            <div><a class="btn create" href="{{path('add_transformation',{'id':recycling.id})}}"><i class="bi bi-plus-square"> Add to transformation</i></a></div>
            <div><a class="btn create" href=""><i class="bi bi-plus-square"> Add to second-hand stock</i></a></div>
            <div><a class="btn create" href="{{path('add_trash',{'id':recycling.id})}}"><i class="bi bi-plus-square"> Put to trash</i></a></div>

            </td>
            </tr>
        </tbody>
    </table>
<div class="row">
<div class="col-sm">
    <a class="btn create" href="{{ path('recycling_index') }}"><i class="bi bi-chevron-left"> Back to list</i></a>
</div>
{% if is_granted("ROLE_MANAGER") %}
<div class="col-sm">
  {{ include('recycling/_delete_form.html.twig') }}
    <a class="btn edit" href="{{ path('recycling_edit', {'id': recycling.id}) }}"><i class="bi bi-pencil"> Edit</i></a>
</div>
{% endif %}
    </div>
    </div>
{% endblock %}
