{% extends 'base.html.twig' %}

{% block title %}Bike Articles{% endblock %}

{% block body %}
<div class="container-fluid list">
    <h1>Bike Article List</h1>

    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Id</th>
                <th>Main</th>
                <th>Brake</th>
                <th>Wheel</th>
                <th>Transmission</th>
                <th>Crank</th>
                <th>Security</th>
                <th>Comments</th>
                <th>Article Requirement</th>
                <th>Show</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for bike_article in bike_articles %}
            <tr>
                <td>{{ bike_article.id }}</td>
                <td>
                {% if bike_article.main != null %}
                {% for article in bike_article.main %}
                    <div>{{article}}</div>
                {% endfor %}
                {% endif %}
                </td>
                <td>
                {% if bike_article.brake != null %}
                {% for article in bike_article.brake %}
                    <div>{{article}}</div>
                {% endfor %}
                {% endif %}</td>
                <td>
                {% if bike_article.wheel != null %}
                {% for article in bike_article.wheel %}
                    <div>{{article}}</div>
                {% endfor %}
                {% endif %}</td>
                <td>
                {% if bike_article.transmission != null %}
                {% for article in bike_article.transmission %}
                   <div>{{article}}</div>
                {% endfor %}
                {% endif %}
               </td>
                <td>
                {% if bike_article.crank != null %}
                {% for article in bike_article.crank %}
                    {{article}}
                {% endfor %}
                {% endif %}
              </td>
                <td>
                {% if bike_article.security %}
                {% for article in bike_article.security %}
                    {{article}}
                {% endfor %}
                {% endif %}
               </td>
                <td>{{ bike_article.comments }}</td>
                <td>show requirements</td>
                <td>
                    <a class="btn show" href="{{ path('bike_article_show', {'id': bike_article.id}) }}"><i class="bi bi-info-square"></i></a>
                   </td>
                   <td>
                   {% if is_granted('ROLE_MANAGER') %}
                         <div>
                         <a class="btn edit" href="{{ path('bike_article_edit', {'id': bike_article.id}) }}"><i class="bi bi-pencil"></i></a>
                   </div>
                   {{ include('bike_article/_delete_form.html.twig') }}
                   {% else %}
                       <span col="2">Unauthorized access</span>
                   {% endif %}
                 
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="10">No records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn create" href="{{ path('bike_article_new') }}">Create new</a>
    </div>
{% endblock %}
