{% extends 'base.html.twig' %}

{% block title %}Bike Article
{% endblock %}

{% block body %}
	<div class="container-fluid list">
		<h1>Bike Article Summary</h1>

		<table class="table table-bordered">
			<tbody>
				<tr>
					<th>Id</th>
					<td>{{ bike_article.id }}</td>
				</tr>
				<tr>
				<th colspan="2" style="text-align:center;">To be Repaired</th>
				</tr>
				<tr>
					<th>Main</th>
					<td>
					{% if bike_article.main !=null %}
					{% for article in bike_article.main %}
						<div>{{article}}</div>
					{% endfor %}
					{% endif %}
					</td>
				</tr>
				<tr>
					<th>Brake</th>
					<td>
					{% if bike_article.brake !=null %}
					{% for article in  bike_article.brake %}
						<div>{{article}}</div>
					{% endfor %}
					{% endif %}
					</td>
				</tr>
				<tr>
					<th>Wheel</th>
					<td>
					{% if bike_article.wheel !=null %}
					{% for article in bike_article.wheel %}
						<div>{{article}}</div>
					{% endfor %}
					{% endif %}
					</td>
				</tr>
				<tr>
					<th>Transmission</th>
					<td>
					{% if bike_article.transmission != null %}
					{% for article in  bike_article.transmission %}
						<div>{{article}}</div>
					{% endfor %}
					{% endif %}
					</td>
				</tr>
				<tr>
					<th>Crank</th>
					<td>
					{% if bike_article.crank != null %}
					{% for article in bike_article.crank %}
						<div>{{article}}</div>
					{% endfor %}
					{% endif %}
					</td>
				</tr>
				<tr>
					<th>Security</th>
					<td>
					{% if bike_article.security != null %}
					{% for article in bike_article.security %}
						<div>{{article}}</div>
					{% endfor %}
					{% endif %}
					</td>
				</tr>
				<tr>
					<th>Comments</th>
					<td>{{ bike_article.comments }}</td>
				</tr>
				<tr>
				<th>Requirements</th>
				<td>
				<div>
				{% if bike_article.repair.requirement != null %}
					{{bike_article.repair.requirement.requirementDate|date('Y-m-d H:i')}}
				<a class="btn show" href="{{path('requirement_show',{'id':bike_article.repair.requirement.id})}}"><i class="bi bi-info-square"></i></a>
				{% else %}
						<a class="btn create" href="{{path('add_requirement',{'id':bike_article.repair.id})}}"><i class="bi bi-plus-square"> Add requirement</i></a>
				{% endif %}
				
			
				</div>
			
				</td>
				</tr>
				
			</tbody>
		</table>
		<div class="row">
			<div class="col-sm">
				<a class="btn create" href="{{ path('bike_article_index') }}">
					<i class="bi bi-chevron-left">
						Back to list</i>
				</a>
			</div>
			{% if is_granted("ROLE_MANAGER") %}
				<div class="col-sm">
					{{ include('bike_article/_delete_form.html.twig') }}
					<a class="btn edit" href="{{ path('bike_article_edit', {'id': bike_article.id}) }}">
						<i class="bi bi-pencil">
							Edit</i>
					</a>
				</div>
			{% endif %}
		</div>
	</div>
{% endblock %}
