{% extends 'base.html.twig' %}

{% block title %}Repairs{% endblock %}

{% block body %}
<div class="container-fluid list">
    <h1>Repair List</h1>

    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Id</th>
                <th>Taking Care Date</th>
                <th>Done Date</th>
                <th>Labor Cost</th>
               
                <th>Comments</th>
                <th>Validation</th>
                <th>Show</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for repair in repairs %}
            <tr>
                <td>{{ repair.id }}</td>
                <td>{{ repair.takingCareDate ? repair.takingCareDate|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ repair.doneDate ? repair.doneDate|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ repair.laborCost }}</td>
               
                <td>{{ repair.comments }}</td>
                <td>{{ repair.validation ? 'Yes' : 'Not yet' }}</td>
                <td>
                    <a class="btn show" href="{{ path('repair_show', {'id': repair.id}) }}"><i class="bi bi-info-square"></i></a>
                    </td>
                    <td>
                    {% if is_granted('ROLE_MANAGER') %}
                         
                    <a class="btn edit" href="{{ path('repair_edit', {'id': repair.id}) }}"><i class="bi bi-pencil"></i></a>
                
                {{ include('repair/_delete_form.html.twig') }}
              
                    {% else %}
                        <span col="2">Unauthorized access</span>
                    {% endif %}
                  
               </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">No records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn create" href="{{ path('current_repair_list') }}">Current repair list</a>
     {% set totalpage = (total / limit)|round(0, 'ceil') %}
  {% if totalpage != 0 %}
<div class="container-fluid list">
  <ul class="pagination justify-content-center">
   <li class=" page-item {{(page == 1) ?'disabled visually-hidden' : ''}}">
 <a class="page-link " href="?page=1 " aria-label="Previous">
        <span aria-hidden="true"><i class="bi bi-skip-backward"></i></span>
      </a>
      </li>
    <li class="page-item {{(page == 1) ?'disabled visually-hidden' : ''}}">
    
      <a class="page-link" href="{{(page > 1) ? '?page=' ~ (page - 1)  : ''}}" aria-label="Previous">
        <span aria-hidden="true"><i class="bi bi-chevron-left"></i></span>
      </a>
    </li>
    {% for element in 1..totalpage %}
         <li class="page-item {{(page == element) ? 'active ':''}}" aria-current ="page">
         <a class="page-link" href="?page={{element}}">{{element}}</a></li>
    {% endfor %}
   
   <li class="page-item {{(page == totalpage) ?'disabled visually-hidden' : ''}}">
      <a class="page-link" href="{{(page < totalpage ) ? '?page=' ~ (page + 1) : ''}}" aria-label="Next">
        <span aria-hidden="true"><i class="bi bi-chevron-right"></i></span>
      </a>
    </li>
     <li class="page-item {{(page == totalpage) ?'disabled visually-hidden' : ''}}">
      <a class="page-link" href="?page={{totalpage }}" aria-label="Next">
        <span aria-hidden="true"><i class="bi bi-skip-forward"></i></span>
      </a>
    </li>
  </ul>
</div>
{% endif %}
    </div>
{% endblock %}
