{% extends 'base.html.twig' %}

{% block title %}Repair{% endblock %}

{% block body %}
<div class="container-fluid list">
    <h1>Repair</h1>

    <table class="table table-bordered">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ repair.id }}</td>
            </tr>
            <tr>
                <th>Taking Care Date</th>
                <td>{{ repair.takingCareDate ? repair.takingCareDate|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Done Date</th>
                <td>{{ repair.doneDate ? repair.doneDate|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Labor Cost</th>
                <td>{{ repair.laborCost }}</td>
            </tr>
           
            <tr>
                <th>Comments</th>
                <td>{{ repair.comments }}</td>
            </tr>
            <tr>
                <th>Validation</th>
                <td>{{ repair.validation ? 'Yes' : 'No' }}</td>
            </tr>
        </tbody>
    </table>
    <div class="row">
    <div class="col-sm">
    <a class="btn create" href="{{ path('repair_index') }}"><i class="bi bi-chevron-left"> Back to list</i></a>
    </div>
    {% if is_granted("ROLE_MANAGER") %}
    <div class="col-sm">
     {{ include('repair/_delete_form.html.twig') }}
    <a class="btn edit" href="{{ path('repair_edit', {'id': repair.id}) }}"><i class="bi bi-pencil"> Edit</i></a>
   </div>
    {% endif %}
    </div>
    </div>
{% endblock %}
