{% extends 'base.html.twig' %}

{% block title %}Repair{% endblock %}

{% block body %}
<div class="container-fluid list">
    <h1>Repair</h1>

    <table class="table table-bordered">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ repair.id }}</td>
            </tr>
            <tr>
                <th>Taking Care Date</th>
                <td>{{ repair.takingCareDate ? repair.takingCareDate|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Done Date</th>
                <td>{{ repair.doneDate ? repair.doneDate|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Labor Cost</th>
                <td>{{ repair.laborCost }} €</td>
            </tr>
           
            <tr>
                <th>Comments</th>
                <td>{{ repair.comments }}</td>
            </tr>
            <tr>
            <th>Repair Summary</th>
            <td>
            <a class="btn show" href="{{path('bike_article_show',{'id':repair.id})}}"><i class="bi bi-info-square"></i></a>
            </td>
            </tr>
            <tr>
                <th>Validation</th>
                <td>
                {% if repair.validation != true %}
                  
                    <div><a class="btn create" href="{{path('repair_validation',{'id':repair.id})}}">Validate</a></div>
               {% else %}
                    {% if repair.operation.billing != null %}
                        Repair has been billed the {{repair.operation.billing.billingDate|date('Y-m-d')}}
                    {% elseif repair.operation.bikesStock != null %}
                        Bike has been put in stock the {{repair.operation.bikesStock.depositDate|date('Y-m-d')}}
                    {% else %}
                      <div><a class="btn create" href="{{path('add_operator',{'id':repair.operation.id})}}"><i class="bi bi-plus-square"> Add operators</i></a></div>
                     <div><a class="btn create" href="{{path('add_billing',{'id':repair.operation.id})}}"><i class="bi bi-plus-square"> Billing</i></a></div>
                    <div><a class="btn create" href="{{path('add_bikes_stock',{'id':repair.operation.id})}}"><i class="bi bi-plus-square"> Add to bike stock</i></a></div>
                    {% endif %}
                   
               {% endif %}
                </td>
            </tr>
        </tbody>
    </table>
   
    <div class="row">
    <div class="col-sm">
    <a class="btn create" href="{{ path('repair_index') }}"><i class="bi bi-chevron-left"> Back to list</i></a>
    </div>
    {% if is_granted("ROLE_MANAGER") %}
    <div class="col-sm">
     {{ include('repair/_delete_form.html.twig') }}
    <a class="btn edit" href="{{ path('repair_edit', {'id': repair.id}) }}"><i class="bi bi-pencil"> Edit</i></a>
   </div>
    {% endif %}
    </div>
    </div>
{% endblock %}
