{% extends 'base.html.twig' %}

{% block title %}Bikes{% endblock %}

{% block body %}
<div class="container-fluid list">
    <h1>Bikes List</h1>

    <table class="table table-bordered ">
        <thead>
            <tr>
                <th>Id</th>
                <th>Serial Number</th>
                <th>Brand</th>
                <th>Category</th>
                <th>Color</th>
                <th>Size</th>
                <th>Weight</th>
                <th>Show</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for bike in bikes %}
            <tr>
                <td>{{ bike.id }}</td>
                <td>{{ bike.serialNumber }}</td>
                <td>{{ bike.brand }}</td>
                <td>{{ bike.category }}</td>
                <td>{{ bike.color }}</td>
                <td>{{ bike.size }}</td>
                <td>{{ bike.weight }}</td>
                <td>
                    <a class="btn show" href="{{ path('bike_show', {'id': bike.id}) }}"><i class="bi bi-info-square"></i></a>
                    </td>
                    <td>
                    {% if is_granted("ROLE_MANAGER") %}
                    <div>
                         <a class="btn edit" href="{{ path('bike_edit', {'id': bike.id}) }}"><i class="bi bi-pencil"></i></a>
                    </div>
                     {{ include('bike/_delete_form.html.twig') }}
                    {% else %}
                        <span col="2">Unauthorized access</span>
                    {% endif %}
                   
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">No records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn create" href="{{ path('bike_new') }}">Create new</a>
    </div>
{% endblock %}
