{% extends 'base.html.twig' %}

{% block title %}Bike index{% endblock %}

{% block body %}
    <h1>Bike index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>SerialNumber</th>
                <th>Brand</th>
                <th>Category</th>
                <th>Color</th>
                <th>Size</th>
                <th>Weight</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for bike in bikes %}
            <tr>
                <td>{{ bike.id }}</td>
                <td>{{ bike.serialNumber }}</td>
                <td>{{ bike.brand }}</td>
                <td>{{ bike.category }}</td>
                <td>{{ bike.color }}</td>
                <td>{{ bike.size }}</td>
                <td>{{ bike.weight }}</td>
                <td>
                    <a href="{{ path('bike_show', {'id': bike.id}) }}">show</a>
                    <a href="{{ path('bike_edit', {'id': bike.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('bike_new') }}">Create new</a>
{% endblock %}
