{% extends 'base.html.twig' %}

{% block title %}Requirement
{% endblock %}

{% block body %}
	{% for message in app.flashes('message') %}
		<div class="alert alert-success" role"alert">
			{{message}}
		</div>
	{% endfor %}
	{{dump()}}
	<div class="container-fluid list">
		<h1>Requirement</h1>

		<table class="table table-bordered">
			<tbody>
				<tr>
					<th>Id</th>
					<td>{{ requirement.id }}</td>
				</tr>
				<tr>
					<th>Requirement Date</th>
					<td>{{ requirement.requirementDate ? requirement.requirementDate|date('Y-m-d H:i:s') : '' }}</td>
				</tr>
				<tr>
					<th>New article requirement</th>
					<td>
						<table class="table table-bordered">
							<thead>
								<tr>
									<th>Article</th>
									<th>Brand</th>
									<th>Unit Price</th>
									<th>Quantity</th>

								</tr>
							</thead>
							<tbody>

								{% for article in requirement.newStocks %}

									<tr>
										<td>{{article.label}}</td>
										<td>{{article.brand}}</td>
										<td class="text-end">{{article.unitPrice}}
											€</td>
										<td class="text-end">{{article.requirementQuantity}}</td>

									</tr>

								{% else %}
									<tr>
										<td colspan="4">
											Nothing required</td>
									</tr>
								{% endfor %}


							</tbody>
						</table>
						{% if requirement.repair.validation == true %}
							Repair is validate
						{% else %}
							<a class="btn create" href="{{path('add_new_article',{'id':requirement.id})}}">
							<i class="bi bi-plus-square">
								Add new stock articles
							</i>
						</a>
						{% endif %}
						
					</td>
				</tr>
				<tr>
					<th>Second-hand article requirement</th>
					<td>
						<table class="table table-bordered">
							<thead>
								<tr>
									<th>Article</th>
									<th>Brand</th>
									<th>Unit Price</th>
									<th>Quantity</th>

								</tr>
							</thead>
							<tbody>
                            {% for article in requirement.secondHandStocks %}
                                <tr>
                                <td>{{article.label}}</td>
                                <td>{{article.brand}}</td>
                                <td class="text-end">{{article.unitPrice}} €</td>
                                <td class="text-end">{{article.requirementQuantity}}</td>
                                </tr>
                                
                                {% else %}
                                    <tr>
                                    <td colspan="4">Nothing required</td>
                                    </tr>
                            {% endfor %}
                            </tbody>

						</table>
						{% if requirement.repair.validation == true %}
							Repair is validate
						{% else %}
								<a class="btn create" href="{{path('add_second_hand_article',{'id':requirement.id})}}">
							<i class="bi bi-plus-square">
								Add second-hand articles</i>
						</a>
						{% endif %}
					
					</td>
				</tr>

			</tbody>
		</table>
		<div class="row">
			<div class="col-sm">
				<a class="btn create" href="{{ path('requirement_index') }}">
					<i class="bi bi-chevron-left">
						Back to list</i>
				</a>
			</div>
			<div class="col-sm">
				<a class="btn create" href="{{path('repair_estimate',{'id':requirement.id})}}">Estimate</a>
			</div>
			{% if is_granted("ROLE_MANAGER") %}
				<div class="col-sm">
					{{ include('requirement/_delete_form.html.twig') }}
					<a class="btn edit" href="{{ path('requirement_edit', {'id': requirement.id}) }}">
						<i class="bi bi-pencil">
							Edit</i>
					</a>
				</div>
			{% endif %}
		</div>
	</div>
{% endblock %}
