{% extends 'base.html.twig' %}

{% block title %}Sources {% endblock %}

{% block body %}
<div class="container-fluid list">
    <h1>Sources List</h1>

    <table class="table table-bordered ">
        <thead>
            <tr>
                <th>Id</th>
                <th>Origin</th>
                <th>Purpose</th>
                <th>Deposit Date</th>
                <th>Phone Number</th>
                <th>Email</th>
                <th>Address</th>
                <th>Rgpd</th>
                <th>Show</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for source in sources %}
            <tr>
                <td>{{ source.id }}</td>
                <td>{{ source.origin }}</td>
                <td>{{ source.purpose }}</td>
                <td>{{ source.depositDate ? source.depositDate|date('Y-m-d H:i') : '' }}</td>
                <td>{{ source.telephone }}</td>
                <td>{{ source.email }}</td>
                <td>{{ source.address }}</td>
                <td>{{ source.rgpd ? 'Yes' : 'No' }}</td>
                <td>
                    <a class="btn show" href="{{ path('source_show', {'id': source.id}) }}"><i class="bi bi-info-square"></i></a>
                    </td>
                    <td>
                    {% if is_granted("ROLE_MANAGER") %}
                       
                       <div>
                         <a class="btn edit" href="{{ path('source_edit', {'id': source.id}) }}"><i class="bi bi-pencil"></i></a>
                       </div>
                          {{ include('source/_delete_form.html.twig') }}
                    
                   
                    {% else %}
                        <span col="2">Unauthorized access</span>
                    {% endif %}
                   
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="10">No records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn create" href="{{ path('source_new') }}">Create new</a>
    </div>
{% endblock %}
