{% extends 'base.html.twig' %}

{% block title %}Source{% endblock %}

{% block body %}
<div class="container-fluid list">
    <h1>Source</h1>

    <table class="table table-bordered ">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ source.id }}</td>
            </tr>
            <tr>
                <th>Origin</th>
                <td>{{ source.origin }}</td>
            </tr>
            <tr>
                <th>Purpose</th>
                <td>{{ source.purpose }}</td>
            </tr>
            <tr>
                <th>DepositDate</th>
                <td>{{ source.depositDate ? source.depositDate|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Phone Number</th>
                <td>{{ source.telephone }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ source.email }}</td>
            </tr>
            <tr>
                <th>Address</th>
                <td>{{ source.address }}</td>
            </tr>
            <tr>
                <th>Rgpd</th>
                <td>{{ source.rgpd ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>Bikes</th>
                <td>
                <div>
                {% if source.bikes %}
                
                {% for bike in source.bikes %}
                <div class="row">
                <div class="col-sm">
                   {{bike.category}} {{bike.brand}} {{bike.color}}
                  </div>
                  <div class="col-sm">
                   <a class="btn show" href="{{path('bike_show',{'id':bike.id})}}"><i class="bi bi-info-square"></i></a>
                </div>
                </div>
                {% endfor %}
                {% endif %}
                </div>
                <a class="btn create" href="{{path('add_bike',{'id':source.id})}}"><i class="bi bi-plus-square"> Add a bike</i></a>
            </td>
            </tr>
        </tbody>
    </table>
   
<div class="row">
<div class="col-sm">
    <a class="btn create" href="{{ path('source_index') }}"><i class="bi bi-chevron-left"> Back to list</i></a>
</div>
<div class="col-sm">
  {{ include('source/_delete_form.html.twig') }}
    <a class="btn edit" href="{{ path('source_edit', {'id': source.id}) }}"><i class="bi bi-pencil"> Edit</i></a>

  
    </div>
    </div>
    </div>
{% endblock %}
